
.header {
    
   height: 800px;
   background-image: url("image3.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover; 
}

.header2{
   height: 800px;
   background-image: url("image8.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;  
    
}

  

.header2 h1{
  color: #180af9ba;
  
    
}







.link-title  {

  font-size: 30px;
  font-family:fantasy;
  margin-left: 10px;
 text-decoration: none;
 
}

.menu  {
  padding: 20px 10px 20px 990px; 
  background: #161913;
  opacity: 0.7;
   border: 0.5px solid #c5d6db; 
}


.menu a {
    color: #c5d6db;
    text-decoration: none;
   font-size: 19px;
    font-family: "Arial Narrow";
}

.menu a:hover{
    color: snow;
}

.dropdown-menu{
color:black; 
font-weight: bolder;
background-color: black;

}




h1{
 font-family: sans-serif;
 font-weight: bolder;
 color: white;
 text-align: center;
 font-size: 100px;
 margin-top: 170px;    
}


@media (min-width: 900px) {
    strong{
        color: black;
    } 
    
}


@media (max-width: 599px) {
    strong{
        color: orange;
    }

}


.button{
  border: 7px solid #333;
  border-radius: 90px;    
  padding top: 15px;  
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;    
  font-size: 35px;  
  margin-top: 30px;
  text-decoration: none;
  color: white;  
  transition: 0.45s; 
  font-weight: bold;
   
}

a.button:hover{
  background-color: #333;
  color: orange;
  transition: 0.45s;  
    
}


h2{
  font-family: 'Quicksand', sans-serif;  
 font-size: 18px;   
 color: #777;    
    
}

p{
 font-family: 'Quicksand', sans-serif;
 font-size: 20px;
 line-height: 30px;
 color: black;    
    
}

.welcome{
 height: 500px;     
}

.welcome, h3{
    color: orange; 
}

.welcome h3{
  font-size: 100px;
  font-family: 'Vibur', cursive;    
  margin-top: 100px; 
  color: orange;

}


.welcome p {
  line-height: 40px;    
}

#here{
    text-decoration: none;
}
#here:hover{
color:orange;
}

.information{
 height: 700px;   
 background-color: #CEDDE9;
       
}

.information h3{
   
  font-size: 100px;
  font-family: 'Vibur', cursive;    
  margin-top: 100px; 
  color: orange; 
    
}


.ourinfo{
    
 margin-top: 100px;         
}


.ourinfo .circle {
    
  height: 130px;
  width: 130px;
  background-color: springgreen;
  border: 5px solid orange;  
  border-radius: 120px;   
    
}

.fonts{
    font-size: 19px;
   font-family: 'Meddon', cursive;   
}





.ourinfo p {
 margin-top: 50px;     
 line-height: 23px;   
 font-weight: bold;
  
}


.circle{
  box-shadow: 20px 5px 50px;  

    
}


.footer {
  height: 460px;  
  padding: 6px 40px 6px 40px;  
  background-color: #0e30c1;
  font-family: "Lucida Sans Unicode";  
  color: wheat;  
  text-decoration: right;  
   
}


.footer p{
    font-size: 50px;
    color: aliceblue;
}

.middle {
   position: absolute;
   
   transform: translateY(-50%);
   width : 100%;
   text-align: center;
    
}
    
.btn{
  display: inline-block;
  width: 80px;          
  height: 80px;  
  background:#f1f1f1;  
  margin: 10px;  
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;    
  position: relative;
    
}

.btn i{
  line-height: 70px;
  font-size: 26px;    
  transition: 0.2s linear;  
    
}

.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;  
    
}

.btn::before {
  content: ""; 
  position: absolute;
  width: 120%;  
  height: 120%;  
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;  
}

.btn:hover::before {
  animation: aaa 0.7s 1;  
  top: -10%;  
  left: -10%;  
}

@keyframes aaa{
    0%{ 
       left: -110%;
       top: 90%;   
      }  
    
    50%{
      left: 10%;
       top: -30%;  
       }
    
    100%{
       top:-10%; 
       left: -10%; 
       }  
        
}


.dav{
    color: orange;
    text-decoration: none;
   
}

.dav:hover{
    color: floralwhite; 
    text-decoration: none;
}

.da{
   color: orange; 
   text-decoration: none; 
}

.da:hover{
   color: floralwhite;
   text-decoration: none; 
}

.d{
    color: orange;
}

.d:hover{
    color: floralwhite;
   text-decoration: none; 
}

.seperator{
    color: white;
    font-size: 20px;
}

.dd{
    color: orange;
    text-decoration: none;
}

.dd:hover{
    color: white;
    text-decoration: none;
}






    


.container{
 height: 650px; 

}

.get{
 font-size: 50px;
 font-family: 'Vibur', cursive;    
  
 color: orange;    
     
}

.but{
    float: right;
    font-size: 40px;
    border-radius: 10px;
    background-color: #333;
    color: white;
}

.but:hover {
background-color: aqua;
transition: 0.45s;
color: black;

}


.image{
   
  width:100%;
  
    
}



#header3{
 height: 300px;
 background-color:#dead65 ;    
    
       
}

#title{
 font-weight: bolder;
 font-size: 50px;   
 color: white;  
 text-align: center;    
    
}

.para{
  color: black;
  
}



#contact {
    background-color: aqua;
    
}

#contact h3{
   color: blue; 
   text-align: center; 
   font-size: 50px;
  
    
}



#container{
    
    width: 800px;
    height: 870px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    box-shadow: 0px 9px 13px 5px;
    border-radius: 5px;
    font-weight: bold;
    background: white;
    
}



 #form input{
    
    width: 100%;
    border-radius: 7px;
    height: 30px;
    
     
    
}   

 #form #message {
    
    width: 100%;
     height: 250px;
    border-radius: 20px;
    background: #d6d6d6;
      
}

#form input[type=text]{
    background: #d6d6d6;
}

 #form #submit {
  
  height: 30px;  
  background: lightblue;  
  transition: 0.45s;         
}

 #form #submit:hover{
  background-color: blue;
  color:orange;
  transition: 0.45s;  
}




.cont{
  height: 130px;
  background-color: #c5d6db;
  
}

.cont1{
  height: 810px;
  background-color: gray;
    
}


#headtext{
font-weight: bolder;
font-size: 50px;
text-align: center;
    
}   

.str{
 font-size: 25px;   
    
}


table{
    margin-left: 70px;
    border: 2px solid black;
    background-color: #e9ecef;
    width: 50%;
}

th, td{
      border: 1px solid black;
      padding: 7px;
      text-align: center;
}

th{
    background-color: lightgray;
}



.row > div {
 padding: 20px;
 border: 3px solid #26314094;
 background-color: lightgray; 
 border-radius: 5px;
 text-align: center;
}


.maq{
    height: 35px;
    background-color: #00ffffcf;
    font-family: "Lucida Sans Unicode";
    font-weight: bold;
}






















